{% extends "base.html" %}
{% block title %} Lista Reservas {% endblock %}

{% block body %}

<a href="{% url 'elegir_fecha' %}" class="btn btn-block btn-primary">Crear Reserva <i class="fa fa-plus"></i></a>
<table class="table talbe-stripped">
    <thead>
        <tr>
            <th>Localizador</th>
            <th>Fecha Entrada</th>
            <th>Fecha Salida</th>
            <th>Tipo Habitación</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Precio Total</th>
        </tr>
    </thead>
    <tbody>
        {% for r in reservas %}
        <tr>
            <td>{{ r.localizador }}</td>
            <td>{{ r.fecha_entrada }}</td>
            <td>{{ r.fecha_salida }}</td>
            <td>Suite {{ r.tipo_habitacion.tipo }}</td>
            <td>{{ r.huesped_nombre }}</td>
            <td>{{ r.huesped_email }}</td>
            <td>{{ r.huesped_telefono }}</td>
            <td>{{ r.precio_total|floatformat:2 }} €</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'elegir_fecha' %}" class="btn btn-block btn-primary">Crear Reserva <i class="fa fa-plus"></i></a>

{% endblock %}